<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 


<div class="row">



	<div data-ng-show="batch.batches">
		<div>{{batch.batches.name}}</div>
	</div>


</div>
</div>
<div class="row" ng-controller="getAllBatches as getAll">
	<div class="col-md-12" ng-controller="TabsDemoCtrl as tabctrl">

<div class="row" data-ng-controller="BatchCtrl as batch">
<div class="row" data-ng-controller="getAllBatches as getAll">
	<div class="col-md-12 div-style" data-ng-controller="TabsDemoCtrl as tabctrl">
		<uib-tabset type="pills"> <uib-tab heading="Create Batch"
			classes="btn-sm">
		<div class="col-md-3">
			<form>
				<h3><span class="label label-primary">Enter Batch Name</span></h3><input class="text-area-class" placeholder="batch name" type="text"
					data-ng-model="batch.newBatchInput"/>
				<button data-ng-click="batch.postBatch()" class="btn btn-info btn-ms" type="submit">Create
					Batch</button>
			</form>
			
			<div ng-class="{fade: startFade}" data-ng-show="batch.showSuccessAlert" class="alert alert-success" role="alert">{{batch.requestMessage}}</div>
			<div ng-class="{fade: startFade}" data-ng-show="batch.showFailureAlert" class="alert alert-danger" role="alert">{{batch.requestMessage}}</div>
			
		</div>
		</uib-tab>
		<uib-tab data-ng-click="getAll.getBatches()" heading="Update/Delete Batch" classes="btn-sm">
		
		<div class="panel panel-primary">
		<div data-ng-hide="batch.showUpdateFields" class="panel-heading">List of All Batches</div>
		<div class="col-md-8 panel-body">
   		<button class="btn btn-success" data-ng-hide="batch.showUpdateFields" ng-disabled="showButton.value" ng-click="tabctrl.getBatches()">Show Batches</button>
  </div>
		
			<table data-ng-hide="batch.showUpdateFields" class="table table-bordered table-hover table-condensed">
			<thead >
			<tr class="success">
			<th class="smallCell" style="text-align:center">Batch ID</th>
			<th style="text-align:center">Batch Name</th>
			<th style="text-align:center">Action</th>
			</tr>
			</thead>
			<tbody >
			<tr data-ng-repeat="b in tabctrl.newData" align="center">
			<td>{{b.id}}</td>
			<td>{{b.name}}</td>
			<td><button data-ng-click="batch.showUpdateBatchInit(b)" class="btn btn-warning tableButton">update</button><button value="Remove"  ng-click="batch.deleteBatch(b)" class="btn btn-danger tableButton">delete</button></td>			

			</tr>
			</tbody>
			</table>
			<div class="panel panel-primary" data-ng-show = "batch.showUpdateFields">
			<div class="panel-heading">Update and View Batch Members</div>
			<div class="col-md-8 panel-body">
			Batch Name:<input data-ng-model="batch.updatedName" type="text" placeholder="{{batch.updatedBranch.name}}"/>
			<br/>
			Enter Student IDs:<input class="text-area-class" data-ng-model="batch.studentIds" type="text" placeholder="enter comma separated student Ids"/>
			<button class="btn btn-danger tableButton" data-ng-click="batch.updateBatch(batch.updatedBranch); batch.addMembersToBatch(batch.updatedBranch)">Submit Update</button><button class="btn btn-warning tableButton" data-ng-click="batch.cancelUpdate()">Back</button>		
			<div ng-class="{fade: startFade}" data-ng-show="batch.showSuccess" class="alert alert-success" role="alert">{{batch.successFailureMessage}}</div>
			<div data-ng-show="batch.showFailure" class="alert alert-danger" role="alert">{{batch.successFailureMessage}}</div>
			<div ng-class="{fade: startFade}" data-ng-show="batch.showSuccessMembers" class="alert alert-success" role="alert">{{batch.successFailureMessageMembers}}</div>
			<div data-ng-show="batch.showFailureMembers" class="alert alert-danger" role="alert">{{batch.successFailureMessageMembers}}</div>
			
			</div>
					<table class="table table-bordered table-hover">
					<thead>
					<tr class="success">
					<th class="smallCell" style="text-align:center">Student ID</th>
					<th style="text-align:center">First Name</th>
					<th style="text-align:center">Last Name</th>
					
					</tr>
					<tbody>
					<tr data-ng-repeat="b in batch.updatedBranch.persons" align="center">
					
					<td>{{b.id}}</td>
					<td>{{b.firstName}}</td>
					<td>{{b.lastName}}</td>
					</tr>
					</tbody>
					</table>
					
					<div>
					<fieldset data-ng-repeat="choice in batch.choices">
						first name: <input type="text" data-ng-model="batch.firstName" name=""
							placeholder="first name">last name: <input type="text"
							data-ng-model="choice.lastName" name="" placeholder="last name">
						
						<button class="remove" data-ng-show="$last"
							data-ng-click="batch.removeChoice()">-</button>
					</fieldset>

				</div>
				</div>
		
		</div>
		</uib-tab> </uib-tabset>
		</div>
	</div>
</div>



