<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 

<h1>Evaluations Template</h1>

<div data-ng-controller ="evaluationsCtrl as controller">

    <div>
        <button data-ng-click = "showAdd = ! showAdd">Add Eval</button>
    </div>

    <div ng-show="showAdd" style="display:inline-block">
        </br>
        <div style="display:inline-block">
            Batch ID </br>
            <input type="number" data-ng-model="batchId"/>
        </div>
        <div style="display:inline-block">
            Type ID </br>
            <input type="number" data-ng-model="typeId"/>
        </div>
        <div style="display:inline-block">
            Trainee ID </br>
            <input type="number" data-ng-model="traineeId"/>
        </div>

        <div style="display:inline-block">
            Week Number </br>
            <input type="number" data-ng-model="weekNum"/>
        </div>

        <div style = "display:inline-block">
            <button data-ng-click = "controller.addNewEval(batchId, typeId, traineeId, weekNum)">Add New Eval</button>
        </div>

        </br></br>

    </div>

    </br>

    Eval ID </br>
    <input type="number" data-ng-model="evalId"/>

    <button data-ng-click = "controller.getEvalById(evalId); showPage = true">Get Eval by ID</button>

    </br></br>

    Trainee ID </br>
    <input type="number" data-ng-model="trainee"/>

    <button data-ng-click = "controller.getTraineeEvals(trainee); showPage = true">Get Trainee Evals</button>      

    </br></br>

    <div style="display:inline-block">
        <div style="display:inline-block">
            Trainee ID </br>
            <input type="number" data-ng-model="tId"/>
        </div>
        <div style="display:inline-block">
            Week Number</br>
            <input type="number" data-ng-model="weekNum"/>
        </div>
        <button data-ng-click = "controller.getTraineeEvalByWeek(tId,weekNum); showPage = true">Get Trainee Evals by Week</button>
    </div>

    </br></br>

	
    <div data-ng-repeat="eval in controller.search">

        Eval ID: {{eval.id}} </br>
        Eval Type (QC / Trainer): {{eval.evalType.description}} </br>
        Trainee Name: {{eval.trainee.firstName + " " +  eval.trainee.lastName}} </br>
        Trainee ID: {{eval.trainee.id}} </br>
        Evaluation Week: {{eval.week}} </br>
        Questions </br></br>
            <div data-ng-repeat ="evalQuestion in eval.questions">
                Subject: {{evalQuestion.questionPool.subjectId.subject}} </br>
                Question: {{evalQuestion.questionPool.questionText}} </br>
                Knowledge Score: {{evalQuestion.communicationScore}} / {{evalQuestion.questionPool.maxKnowledgeScore}} </br>
                Communication Score: {{evalQuestion.knowledgeScore}} / {{evalQuestion.questionPool.maxCommunicationScore}} </br>
                Comments:  </br>
                <div data-ng-repeat = "comment in evalQuestion.comments">
                    {{comment.commentText}} </br>
                    </br>
                </div>
                </br>
            </div>

        <div>
            <button data-ng-click = "showUpdate = ! showUpdate">Update Eval</button>
        </div>

         <div ng-show="showUpdate" style="display:inline-block">
            <div style="display:inline-block">
                Batch ID </br>
                <input type="number" data-ng-model="batch_Id"/>
            </div>

            <div style="display:inline-block">
                Type ID </br>
                <input type="number" data-ng-model="type_Id"/>
            </div>

            <div style="display:inline-block">
                Trainee ID </br>
                <input type="number" data-ng-model="trainee_Id"/>
            </div>

            <div style="display:inline-block">
                Week Number </br>
                <input type="number" data-ng-model="week_Num"/>
            </div>
             
            <div style="display:inline-block">
                <button data-ng-click = "controller.updateEval(eval.id, batch_Id, type_Id, trainee_Id, week_Num)">Submit Update</button>
            </div>
             
            </br></br>
        </div>

        <div>
            <button data-ng-click = "controller.deleteEval(eval.id)">Delete Eval</button>
        </div>

         </br></br>

     </div>
    <!--
    <ul ng-show = "showPage" uib-pagination total-items="controller.search.length" max-size = "controller.maxSize" class="pagination-sm"
        items-per-page = "controller.itemsPerPage" ng-model = "controller.currentPage" ng-change="controller.pageChanged()">
    </ul>
    -->
</div>