<h1>Revature Interview Evaluations API Wiki</h1>

<div class="container">
  <!-- <h4>Welcome to the interview-evaluations wiki! This wiki contains additional development information and links to projects and sites using the Revature Interview Evaluations API. For all code-related documentation, please refer to the bundled documentation in repository, the Architecture page, or download.</h4>

Project Description <button ng-model="projectDescription">Project Description</button>
<div ng-show="projectDescription">
  hide or show
</div> -->

<div data-ng-controller="FAQCtrl as f">
<div class="row text-center">
  <div class="col-xs-6">

    <!-- change goCats to not true or true -->
    <button data-ng-click="f.togProjDesc()" class="btn btn-primary btn-lg">Toggle Project Description</button>
  </div>

  <div class="col-xs-6" data-ng-show="f.projectDesc">
    <h4>Welcome to the interview-evaluations wiki! This wiki contains additional development information and links to projects and sites using the Revature Interview Evaluations API. For all code-related documentation, please refer to the bundled documentation in repository, the Architecture page, or download.</h4>
  </div>
</div>

Architecture

Demo

Projects Using the API
</div>
</div>
</div>
