<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Custom CSS -->
<!-- <link rel="stylesheet" type="text/css" href="styles/design.css"> -->
</head>
<body>

<h1>Trainees Template</h1>
<br/>
<div data-ng-controller="TraineesCtrl as train">
  <input type="text" data-ng-model="input1" placeholder="First Name"/>
  <input type="text" data-ng-model="input2" placeholder="Last Name"/>
  <button data-ng-click="train.getTrainees(input1, input2)">Get Trainee by Name</button>

  <div data-ng-show="train.trainees">
    <div>{{train.trainees.content[0].firstName}}</div>
    <!-- <img alt="Pokemon Image" data-ng-src="{{train.pokemon.sprites.front_default}}"/> -->
  </div>
</div>
